$grey: #95989C;
$darkgrey: #4C4D4F;
$darkest_grey: #47484A;
$light_grey: #C1C5C9;
$dark-white: #D8DEE4;
$orange: #ff782f;
@font-face {
  font-family: "HelveticaNeueBoldCondensed";
  src: url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-Italic";
  src: url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr-LightItalic";
  src: url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} @font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} @font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} @font-face {
  font-family: "HelveticaNeueCyr-ThinItalic";
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} @font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  src: url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} @font-face {
  font-family: "HelveticaNeueCyr-UltraLightItalic";
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: $grey;
  padding-bottom: 30px;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.container{
  max-width: 1000px;
  margin: auto;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
header{
  background-color: $darkgrey;
  height: 100px;
  box-sizing: border-box;
  padding-top: 30px;
  h2 a{
    color: $dark-white;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.7s;
    &:hover{
      color: $orange;
    }
  }
}
.nav-sec{
  padding: 20px 5px 20px 10px;
  background-color: $darkgrey;
  width: 100%;
  box-sizing: border-box;
  h2{
    color: $dark-white;
    font-size: 24px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 15px;
  }
  .nav-ul{
    li{
      border-bottom: solid 1px $light_grey;
      padding-bottom: 5px;
      margin-bottom: 5px;
      a{
        color: $dark-white;
        font-size: 18px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
        transition: 0.7s;
        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.poster-m-sec{
  text-align: center;
  img{
    width: 100%;
  }
  h2{
    margin-top: 15px;
    color: $darkest_grey;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 15px;
  }
  p{
    display: block;
    width: 100%;
    background-color: $light_grey;
    color: $darkgrey;
    font-size: 22px;
    box-sizing: border-box;
    padding: 10px;
    font-family: "Adobe Caslon Pro Bold", sans-serif;
  }
}
.cat-line{
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: $darkest-grey 3px solid;
  box-sizing: border-box;
  transition: 0.7s;
  a {
    width: 30%;
    display: block;
    .item{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: $light-grey;
    transition: 0.7s;
    h4{
      color: $dark-white;
      font-weight: bold;
      font-family: "Bebas Neue", sans-serif;
      transition: 0.7s;
      font-size: 30px;
      margin-bottom: 8px;
    }
    h5{
      color: $dark-white;
      font-weight: bold;
      font-family: "Bebas Neue", sans-serif;
      transition: 0.7s;
      font-size: 30px;
    }
    img{
      width: 100%;
      filter: grayscale(100%);
      transition: 0.7s;
    }
    &:hover{
      img{
        filter: grayscale(0);
      }
      h4{
        color: $orange;
      }
      h5{
        color: $darkest-grey;
      }
    }
  }}
  .cat-item{
    width: 48.5%;
    height: 485px;
    background-color: $darkgrey;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    img{
      margin-top: 25px;
      height: 350px;
      width: auto;
      filter: grayscale(100%);
      transition: 0.7s;
      margin-bottom: 50px;
    }
    a h3{
      color: $dark-white;
      font-size: 30px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: bold;
    }
    &:hover{
      img{
        filter: grayscale(0);
      }
      a h3{
        color: $orange;
      }
    }
  }
}
.news-block{
  width: 100%;
  background-color: $light-grey;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  img{
    height: 100%;
    width: auto;
    margin-right: 20px;
  }
  p{
    font-size: 18px;
    color: $darkest-grey;
    font-family: "Adobe Caslon Pro Bold", sans-serif;
    span{
      color: $orange;
      font-family: "Bebas Neue", sans-serif;
      font-weight: bold;
    }
  }
}
.contact-block{
  width: 100%;
  background-color: $light-grey;
  padding: 10px;
  box-sizing: border-box;
  p{
    color: $darkest_grey;
    font-size: 22px;
    font-family: "Adobe Caslon Pro Bold", sans-serif;
    box-sizing: border-box;
  }
}